@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello , Welcome to the demo site!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello Guest, Welcome to the demo site!</h1>
    </NotAuthorized>
</AuthorizeView>
