@page "/login"
@inject ILogger<Login> logger
@inject IUserService _userService
@inject HttpClient Http
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


@using DemoApp.Models
@using DemoApp.Models.Authentication
@using DemoApp.Services
@using DemoApp.Services.Authentication
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using BCrypt.Net;
@using System.Security.Claims
@attribute [AllowAnonymous]



<!-- <EditForm method="post" action="/api/auth/login" Model="formLogin" FormName="login">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input type="hidden" name="returnUrl" value="/" />

    <h3>Please login with your user credentials</h3>

    <label for="username">username</label>
    <InputText id="username" type="text" @bind-Value="formLogin.username" />
    <label for="pasword">password</label>
    <InputText id="password" type="password" @bind-Value="formLogin.password" />
    <button type="submit" class="btn btn-primary">Login</button>

</EditForm>-->

    <form method="post" action="/api/auth/login">
        <input type="hidden" name="returnUrl" value="/" />

        <label for="username">username</label>
        <input id="username" name="username" type="text" />

        <label for="password">password</label>
        <input id="password" name="password" type="password" />

        <button type="submit" class="btn btn-primary">Login</button>
    </form>


    @if (errorExists)
    {
        <h5 class="text-danger">@errorMessage</h5>
    }
    



@code {


    /*private readonly ILoggerFactory _loggerFactory = LoggerFactory.Create(builder =>
    {
        builder.AddConsole().SetMinimumLevel(LogLevel.Warning);
    });//*/

    //private readonly ILogger<UserLogin> _logger = new Logger<UserLogin>(_loggerFactory);
    //private readonly ILoggerAdapter<UserLogin> _loggerAdapter = new LoggerAdapter<UserLogin>(_logger);

    [SupplyParameterFromForm]
    public UserLogin formLogin { get; set; } = new();

    //MainLoginAuthenticationStateProvider authStateProvider = new();
    //var userAccount = _userService.

    //private readonly CustomAuthService _auth;

    bool errorExists = false;
    String? errorMessage;

    private async Task HandleSubmit()
    {
    await LoginAttempt();
    }

    private async Task LoginAttempt()
    {
    formLogin.createdAt = DateTime.UtcNow;

    try
    {
        errorExists = false;
        if (String.IsNullOrEmpty(formLogin.username) || String.IsNullOrEmpty(formLogin.password))
        {
            errorMessage = "Username or Password is empty";
            errorExists = true;
            return;
        }

        //validation here
        var response = await Http.PostAsJsonAsync("/api/auth/login", formLogin);

        if (response.IsSuccessStatusCode)
        {

            NavigationManager.NavigateTo("/", true); // full reload to send cookie
        }
        else
        {
            errorExists = true;
            var error = await response.Content.ReadAsStringAsync();
            errorMessage = error;
            return;
        }
        
        }
        catch (TaskCanceledException ex)
        {
            errorExists = true;
            errorMessage = "Login attempt has timed out...";
            logger.LogWarning(ex, errorMessage);

        }
    }

}